@use '../../abstract/colors' as *;

.form{
    min-height: 70px;
    padding: 0.8rem;
    margin: 0 .5em;
    
    border-radius: 5px;
    background-color: #DFF6FF;
    display: flex;
    flex-direction: column;

    gap: .3rem;
    flex-shrink: 0;

    .submitContainer{
        display: flex;
        justify-content: space-between;
        margin-top: .3rem;

        .btnSubmit{
            background-color: $minty;
            font-weight: 600;
            &:hover{
                filter: opacity(80%);
            }  
        }

        .btnClose{
            background-color: #06283D;
            color: $light-800;
            &:hover{
                filter: opacity(80%);
            }
        }

        
    
    }
}

.inputName, .inputComment, .btnSubmit, .btnClose{
    border: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: 12px;
}

@media screen and (max-width: 888px){
    .form{
        min-width: 100%;
        margin: 0;
        padding: 10px;
    }
    .submitContainer{
     
        width: 100%;
        flex-direction: column;
        .btnClose{
            margin-top: .3rem;
            width: 100%;
        }
        .btnSubmit{
            width: 100%;
        }
    }
    
}
